## Spark Data Frames

In [34]:
from pyspark.sql import SparkSession

In [35]:
spark = SparkSession.builder.getOrCreate()
spark

In [36]:
data_path = './Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/'

In [4]:
file_path = data_path + '/location_temp.csv'
df1 = spark.read.format("csv").option("header","true").load(file_path)

In [5]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [6]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [7]:
df1.count()

500000

In [8]:
file_path_no_header = data_path + '/utilization.csv'
df2 = spark.read.format("csv").option("header","false").option("inferSchema","true").load(file_path_no_header)

In [9]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [10]:
df2.show()

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41| 0.4| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51| 0.6| 45|
|03/05/2019 08:56:14|100|0.32|0.37| 47|
|03/05/2019 09:01:14|100|0.62|0.59| 60|
|03/05/2019 09:06:14|100|0.66|0.72| 57|
|03/05/2019 09:11:14|100|0.54|0.54| 44|
|03/05/2019 09:16:14|100|0.29| 0.4| 47|
|03/05/2019 09:21:14|100|0.43|0.68| 66|
|03/05/2019 09:26:14|100|0.49|0.66| 65|
|03/05/2019 09:31:14|100|0.64|0.55| 66|
|03/05/2019 09:36:14|100|0.42| 0.6| 42|
|03/05/2019 09:41:14|100|0.55|0.59| 63|
+-------------------+---+----+----+---+
only showing top 20 rows

In [11]:
df2.count()

500000

In [18]:
df2 = df2.withColumnRenamed("_c0", "event_datetime").withColumnRenamed(
    "_c1",
    "server_id").withColumnRenamed("_c2", "cpu_utilization").withColumnRenamed(
        "_c3", "free_memory").withColumnRenamed('_c4', "session_count")

In [19]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [20]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [23]:
df2.columns

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_count']

In [24]:
df2_sample = df2.sample(withReplacement=False, fraction=0.1)

In [25]:
df2_sample.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
|03/05/2019 09:51:14|      100|           0.61|       0.34|           70|
|03/05/2019 10:36:14|      100|           0.62|       0.36|           50|
|03/05/2019 11:41:14|      100|            0.6|        0.7|           52|
|03/05/2019 12:46:14|      100|           0.49|       0.56|           62|
|03/05/2019 12:56:14|      100|           0.48|       0.38|           44|
|03/05/2019 15:41:14|      100|           0.34|       0.46|           62|
|03/05/2019 15:56:14|      100|           0.63|       0.42|           61|
|03/05/2019 16:41:14|      100|           0.56|       0.59|           65|
|03/05/2019 17:36:14|      100|           0.45|       0.33|           38|
|03/05/2019 17:56:14|      100|           0.33|       0.71|           43|
|03/05/2019 19:21:14|      100|           0.53|        0.6|           57|
|03/05/2019 21:41:14|      100|           0.53|        0.6|           42|
|03/05/2019 21:46:14|      100|           0.52|       0.49|           53|
|03/05/2019 23:51:14|      100|           0.46|       0.57|           56|
|03/06/2019 02:31:14|      100|            0.3|        0.5|           39|
|03/06/2019 03:16:14|      100|           0.64|       0.45|           69|
|03/06/2019 04:41:14|      100|           0.32|       0.42|           44|
|03/06/2019 04:51:14|      100|           0.29|       0.43|           50|
|03/06/2019 05:26:14|      100|           0.43|       0.54|           51|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [27]:
df2_sample.count()

50024

In [28]:
df2_sort = df2_sample.sort('event_datetime')

In [30]:
df2_sort.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:17|      102|           0.61|       0.12|           71|
|03/05/2019 08:06:26|      107|           0.64|       0.55|           56|
|03/05/2019 08:06:40|      115|           0.78|       0.22|           62|
|03/05/2019 08:06:48|      120|           0.66|       0.31|           54|
|03/05/2019 08:06:51|      122|           0.64|       0.48|           65|
|03/05/2019 08:07:06|      130|           0.52|       0.49|           77|
|03/05/2019 08:07:44|      149|           0.74|       0.27|           66|
|03/05/2019 08:11:21|      104|           0.62|       0.15|           86|
|03/05/2019 08:11:24|      106|           0.32|       0.56|           59|
|03/05/2019 08:11:56|      125|           0.63|       0.34|           72|
|03/05/2019 08:12:01|      128|           0.61|       0.29|           59|
|03/05/2019 08:12:29|      142|           0.74|       0.23|           79|
|03/05/2019 08:16:48|      120|           0.55|       0.61|           54|
|03/05/2019 08:16:58|      126|           0.78|       0.31|           73|
|03/05/2019 08:17:21|      138|           0.63|       0.63|           41|
|03/05/2019 08:21:24|      106|           0.26|       0.45|           38|
|03/05/2019 08:21:38|      114|           0.62|       0.57|           74|
|03/05/2019 08:22:12|      133|            0.6|       0.14|           86|
|03/05/2019 08:22:19|      137|            0.7|       0.18|           89|
|03/05/2019 08:26:28|      108|           0.67|       0.08|           91|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [31]:
df1.filter(df1['location_id']=='loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [32]:
df1.filter(df1['location_id']=='loc0').count()

1000

In [33]:
df1.filter(df1['location_id']=='loc1').count()

1000

In [34]:
df1.filter(df1['location_id']=='loc1').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

In [35]:
df1.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|     loc351| 1000|
|     loc370| 1000|
|     loc419| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
+-----------+-----+
only showing top 20 rows

In [36]:
df1.orderBy("location_id").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [39]:
df1.groupBy("location_id").agg({'temp_celcius':'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

In [40]:
df1.groupBy("location_id").agg({'temp_celcius':'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
|     loc463|               30|
|     loc150|               39|
|     loc292|               36|
|     loc311|               31|
|      loc22|               35|
|     loc351|               35|
|     loc370|               36|
|     loc419|               36|
|     loc305|               34|
|      loc31|               32|
|     loc118|               31|
|     loc195|               34|
|     loc208|               33|
|      loc82|               34|
|      loc90|               30|
|     loc228|               34|
|      loc39|               32|
|      loc75|               30|
+-----------+-----------------+
only showing top 20 rows

In [41]:
df1.count()

500000

In [42]:
df1_s1 = df1.sample(fraction=0.1,withReplacement=False)

In [43]:
df1_s1.count()

49966

In [45]:
df1_s1.groupBy("location_id").agg({"temp_celcius":"mean"}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|             29.03|
|     loc226| 25.23148148148148|
|     loc463|23.545454545454547|
|     loc150| 32.47115384615385|
|     loc292| 28.88235294117647|
|     loc311| 24.45045045045045|
|      loc22|28.208333333333332|
|     loc351|28.019417475728154|
|     loc370|28.944444444444443|
|     loc419| 28.84158415841584|
|      loc31|25.033333333333335|
|     loc305|27.146067415730336|
|      loc82| 27.54310344827586|
|      loc90|23.091954022988507|
|     loc118| 24.11578947368421|
|     loc195|             27.37|
|     loc208|26.466019417475728|
|      loc39| 25.37962962962963|
|      loc75|23.147368421052633|
|     loc228|27.318181818181817|
+-----------+------------------+
only showing top 20 rows

In [46]:
df1_s1.groupBy("location_id").agg({"temp_celcius":"mean"}).orderBy("location_id").show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.617977528089888|
|       loc1|28.349397590361445|
|      loc10|25.151898734177216|
|     loc100| 26.98989898989899|
|     loc101|             25.42|
|     loc102| 30.53211009174312|
|     loc103|25.355555555555554|
|     loc104|26.214285714285715|
|     loc105| 26.13186813186813|
|     loc106| 26.99009900990099|
|     loc107|33.472527472527474|
|     loc108| 32.23809523809524|
|     loc109| 24.03061224489796|
|      loc11|25.169811320754718|
|     loc110|  26.2803738317757|
|     loc111| 31.02777777777778|
|     loc112| 33.12903225806452|
|     loc113|30.289719626168225|
|     loc114| 29.27358490566038|
|     loc115|23.387755102040817|
+-----------+------------------+
only showing top 20 rows

In [47]:
df1.groupBy("location_id").agg({"temp_celcius":"mean"}).orderBy("location_id").show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows

## Spark SQL

In [48]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [49]:
df2.createOrReplaceTempView("utilization")

In [53]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")

In [54]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [56]:
df_sql = spark.sql("SELECT server_id AS sid, session_count AS sc  FROM utilization LIMIT 10")
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
+---+---+

In [57]:
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:48|      120|           0.66|       0.31|           54|
|03/05/2019 08:11:48|      120|           0.58|       0.38|           64|
|03/05/2019 08:16:48|      120|           0.55|       0.61|           54|
|03/05/2019 08:21:48|      120|            0.7|       0.35|           80|
|03/05/2019 08:26:48|      120|            0.6|       0.39|           71|
|03/05/2019 08:31:48|      120|           0.53|       0.35|           49|
|03/05/2019 08:36:48|      120|           0.73|       0.42|           73|
|03/05/2019 08:41:48|      120|           0.41|        0.6|           72|
|03/05/2019 08:46:48|      120|           0.62|       0.57|           57|
|03/05/2019 08:51:48|      120|           0.67|       0.44|           78|
|03/05/2019 08:56:48|      120|           0.67|       0.38|           73|
|03/05/2019 09:01:48|      120|           0.39|       0.47|           58|
|03/05/2019 09:06:48|      120|            0.5|       0.29|           78|
|03/05/2019 09:11:48|      120|           0.38|       0.38|           56|
|03/05/2019 09:16:48|      120|           0.53|       0.38|           47|
|03/05/2019 09:21:48|      120|           0.74|       0.25|           69|
|03/05/2019 09:26:48|      120|           0.53|       0.57|           73|
|03/05/2019 09:31:48|      120|           0.54|       0.64|           65|
|03/05/2019 09:36:48|      120|            0.7|       0.52|           55|
|03/05/2019 09:41:48|      120|           0.54|       0.27|           74|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [58]:
df_sql = spark.sql("SELECT server_id, session_count  FROM utilization WHERE session_count > 70")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [59]:
df_sql = spark.sql("SELECT server_id , session_count FROM utilization WHERE session_count> 70 AND server_id = 120")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
|      120|           73|
|      120|           78|
|      120|           73|
|      120|           74|
|      120|           78|
|      120|           75|
|      120|           75|
|      120|           73|
|      120|           79|
|      120|           72|
|      120|           77|
|      120|           75|
|      120|           72|
|      120|           79|
|      120|           75|
+---------+-------------+
only showing top 20 rows

In [61]:
df_sql = spark.sql(
    "SELECT server_id , session_count FROM utilization WHERE session_count> 70 AND server_id = 120 ORDER BY session_count DESC"
)
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows

In [62]:
df_count = spark.sql("SELECT count(*) FROM utilization")
df_count

DataFrame[count(1): bigint]

In [63]:
df_sql = spark.sql("SELECT count(*) FROM utilization WHERE session_count>70")
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [66]:
df_sql = spark.sql("SELECT server_id , count(*) FROM utilization WHERE session_count>70 GROUP BY server_id")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      148|    8027|
|      137|    8248|
|      133|    8583|
|      108|    8375|
|      101|    9808|
|      115|    5284|
|      126|    6365|
|      103|    8744|
|      128|    3719|
|      122|    4885|
|      111|    3093|
|      140|    6163|
|      132|    2048|
|      146|    7072|
|      142|    7084|
|      139|    7383|
|      120|    2733|
|      117|    3605|
|      112|    7425|
|      127|    5961|
+---------+--------+
only showing top 20 rows

In [67]:
df_sql = spark.sql("SELECT server_id , count(*) FROM utilization WHERE session_count>70 GROUP BY server_id ORDER BY count(*) DESC")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      121|    7084|
|      142|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [68]:
df_sql = spark.sql(
    "SELECT server_id ,min(session_count),avg(session_count) ,max(session_count) FROM utilization WHERE session_count>70 GROUP BY server_id ORDER BY count(*) DESC"
)
df_sql.show()

+---------+------------------+------------------+------------------+
|server_id|min(session_count)|avg(session_count)|max(session_count)|
+---------+------------------+------------------+------------------+
|      101|                71| 87.66557911908646|               105|
|      113|                71| 86.96262476109577|               103|
|      145|                71| 86.97732158211522|               103|
|      103|                71| 85.76372369624886|               101|
|      102|                71| 85.71150710458886|               101|
|      133|                71| 85.46720260981009|               100|
|      108|                71|  85.1219104477612|               100|
|      149|                71|  84.9612693050193|                99|
|      137|                71|  85.0061833171678|                99|
|      148|                71| 84.70350068518749|                99|
|      123|                71| 84.53220510229856|                98|
|      118|                71| 84.65777833944142|                98|
|      112|                71| 83.54505050505051|                97|
|      139|                71| 83.32710280373831|                96|
|      104|                71| 83.34604941623677|                96|
|      142|                71|  82.9049971767363|                95|
|      121|                71| 82.88848108413326|                95|
|      146|                71| 82.95093325791855|                95|
|      126|                71| 81.56150824823253|                93|
|      144|                71| 81.38472668810289|                92|
+---------+------------------+------------------+------------------+
only showing top 20 rows

In [69]:
df_sql = spark.sql(
    "SELECT server_id ,min(session_count),round(avg(session_count),2) ,max(session_count) FROM utilization WHERE session_count>70 GROUP BY server_id ORDER BY count(*) DESC"
)
df_sql.show()

+---------+------------------+--------------------------------------------+------------------+
|server_id|min(session_count)|round(avg(CAST(session_count AS BIGINT)), 2)|max(session_count)|
+---------+------------------+--------------------------------------------+------------------+
|      101|                71|                                       87.67|               105|
|      113|                71|                                       86.96|               103|
|      145|                71|                                       86.98|               103|
|      103|                71|                                       85.76|               101|
|      102|                71|                                       85.71|               101|
|      133|                71|                                       85.47|               100|
|      108|                71|                                       85.12|               100|
|      149|                71|                                       84.96|                99|
|      137|                71|                                       85.01|                99|
|      148|                71|                                        84.7|                99|
|      123|                71|                                       84.53|                98|
|      118|                71|                                       84.66|                98|
|      112|                71|                                       83.55|                97|
|      139|                71|                                       83.33|                96|
|      104|                71|                                       83.35|                96|
|      121|                71|                                       82.89|                95|
|      142|                71|                                        82.9|                95|
|      146|                71|                                       82.95|                95|
|      126|                71|                                       81.56|                93|
|      144|                71|                                       81.38|                92|
+---------+------------------+--------------------------------------------+------------------+
only showing top 20 rows

In [70]:
csv_df_path = data_path +'/server_name.csv'
df_server = spark.read.csv(csv_df_path,header=True)
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [71]:
df_server.createOrReplaceTempView("server_name")

In [72]:
df_count = spark.sql("SELECT DISTINCT server_id from utilization ORDER BY server_id")
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [73]:
spark.sql("SELECT min(server_id), max(server_id) FROM utilization").show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [74]:
df_join = spark.sql("SELECT u.server_id, sn.server_name, u.session_count FROM utilization u INNER JOIN server_name sn ON sn.server_id = u.server_id")
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

## De-Duplicating

In [1]:
from pyspark.sql import Row

In [4]:
df_dup = sc.parallelize([Row(server_name='101 server', cpu_utilization=85, session_count=80),
                       Row(server_name='101 server', cpu_utilization=80, session_count=90),
                       Row(server_name='102 server', cpu_utilization=85, session_count = 80),
                       Row(server_name='102 server', cpu_utilization=85, session_count=80)]).toDF()

In [5]:
df_dup.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 server|           80|
|             80| 101 server|           90|
|             85| 102 server|           80|
|             85| 102 server|           80|
+---------------+-----------+-------------+

In [6]:
df_dup.drop_duplicates().show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 102 server|           80|
|             80| 101 server|           90|
|             85| 101 server|           80|
+---------------+-----------+-------------+

In [7]:
df_dup.dropDuplicates().show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 102 server|           80|
|             80| 101 server|           90|
|             85| 101 server|           80|
+---------------+-----------+-------------+

In [8]:
df_dup.drop_duplicates(['server_name']).show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 102 server|           80|
|             85| 101 server|           80|
+---------------+-----------+-------------+

## Working with NAs

In [17]:
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [18]:
df = sc.parallelize([
    Row(server_name='101 server', cpu_utilization=85, session_count=80),
    Row(server_name='101 server', cpu_utilization=80, session_count=90),
    Row(server_name='102 server', cpu_utilization=85, session_count=40),
    Row(server_name='103 server', cpu_utilization=70, session_count=80),
    Row(server_name='104 server', cpu_utilization=60, session_count=80)
]).toDF()

In [19]:
df.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 server|           80|
|             80| 101 server|           90|
|             85| 102 server|           40|
|             70| 103 server|           80|
|             60| 104 server|           80|
+---------------+-----------+-------------+

In [20]:
df_na = df.withColumn('na_col',lit(None).cast(StringType()))

In [21]:
df_na.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           40|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           80|  null|
+---------------+-----------+-------------+------+

In [22]:
df_na.fillna('A').show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           40|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           80|     A|
+---------------+-----------+-------------+------+

In [24]:
df2 = df_na.fillna('A').union(df_na)
df2.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           40|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           80|     A|
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           40|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           80|  null|
+---------------+-----------+-------------+------+

In [25]:
df2.na.drop().show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           40|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           80|     A|
+---------------+-----------+-------------+------+

In [26]:
df2.createOrReplaceTempView('na_table')

In [27]:
spark.sql('SELECT * FROM na_table').show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           40|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           80|     A|
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           40|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           80|  null|
+---------------+-----------+-------------+------+

In [28]:
spark.sql('SELECT * FROM na_table WHERE na_col IS NULL').show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           40|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           80|  null|
+---------------+-----------+-------------+------+

In [29]:
spark.sql('SELECT * FROM na_table WHERE na_col IS NOT NULL').show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           40|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           80|     A|
+---------------+-----------+-------------+------+

## Exploratory Data Analysis

In [37]:
file_path_no_header = data_path + '/utilization.csv'
df_util = spark.read.format("csv").option("header","false").option("inferSchema","true").load(file_path_no_header)

In [38]:
df_util = df_util.withColumnRenamed("_c0", "event_datetime").withColumnRenamed(
    "_c1",
    "server_id").withColumnRenamed("_c2", "cpu_utilization").withColumnRenamed(
        "_c3", "free_memory").withColumnRenamed('_c4', "session_count")

In [39]:
df_util.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [40]:
df_util.createOrReplaceTempView('utilization')

In [41]:
df_util.count()

500000

In [43]:
df_util.describe().show()

+-------+-------------------+------------------+-------------------+-------------------+------------------+
|summary|     event_datetime|         server_id|    cpu_utilization|        free_memory|     session_count|
+-------+-------------------+------------------+-------------------+-------------------+------------------+
|  count|             500000|            500000|             500000|             500000|            500000|
|   mean|               null|             124.5| 0.6205177399999874|  0.379128099999989|          69.59616|
| stddev|               null|14.430884120553118|0.15875173872912948|0.15830931278376223|14.850676696352853|
|    min|03/05/2019 08:06:14|               100|               0.22|                0.0|                32|
|    max|04/09/2019 01:22:46|               149|                1.0|               0.78|               105|
+-------+-------------------+------------------+-------------------+-------------------+------------------+

In [45]:
df_util.stat.corr('cpu_utilization','free_memory')

-0.47047715730807027

In [46]:
df_util.stat.corr('session_count','free_memory')

-0.5008320848876566

In [48]:
df_util.stat.freqItems(('server_id','session_count')).show()

+--------------------+-----------------------+
| server_id_freqItems|session_count_freqItems|
+--------------------+-----------------------+
|[137, 146, 101, 1...|   [92, 101, 83, 104...|
+--------------------+-----------------------+

In [51]:
df_util_sample = df_util.sample(fraction=0.05, withReplacement=False)

In [52]:
df_util_sample.count()

24988

In [53]:
spark.sql('SELECT min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization').show()

+--------------------+--------------------+----------------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+--------------------+--------------------+----------------------------+
|                0.22|                 1.0|         0.15875173872912948|
+--------------------+--------------------+----------------------------+

In [55]:
spark.sql('SELECT server_id ,min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization GROUP BY server_id').show()

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      148|                0.54|                0.94|         0.11451712518744131|
|      137|                0.54|                0.94|         0.11526245077758812|
|      133|                0.55|                0.95|         0.11534006553263144|
|      108|                0.55|                0.95|         0.11563100171171926|
|      101|                 0.6|                 1.0|         0.11651726263197697|
|      115|                0.44|                0.84|         0.11569664615015006|
|      126|                0.48|                0.88|         0.11542612970702051|
|      103|                0.56|                0.96|         0.11617507884178278|
|      128|                0.38|                0.78|          0.1153254132405078|
|      122|                0.43|                0.83|         0.11563104329209034|
|      111|                0.36|                0.76|         0.11530221569464506|
|      140|                0.47|                0.87|         0.11539940805020545|
|      132|                0.33|                0.73|          0.1145442656350766|
|      146|                 0.5|                 0.9|         0.11488129439634706|
|      142|                 0.5|                 0.9|         0.11593003726970044|
|      139|                0.51|                0.91|         0.11519660023052102|
|      120|                0.35|                0.75|         0.11586355920838642|
|      117|                0.38|                0.78|         0.11534593941519553|
|      112|                0.52|                0.92|         0.11528867845082576|
|      127|                0.47|                0.87|         0.11577746913037888|
+---------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [56]:
spark.sql('SELECT server_id, FLOOR(cpu_utilization*100/10) bucket FROM utilization').show()

+---------+------+
|server_id|bucket|
+---------+------+
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     4|
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     6|
|      100|     6|
|      100|     5|
|      100|     2|
|      100|     4|
|      100|     4|
|      100|     6|
|      100|     4|
|      100|     5|
+---------+------+
only showing top 20 rows

In [57]:
spark.sql('SELECT count(*), FLOOR(cpu_utilization*100/10) bucket FROM utilization GROUP BY bucket ORDER BY  bucket').show()

+--------+------+
|count(1)|bucket|
+--------+------+
|    8186|     2|
|   37029|     3|
|   68046|     4|
|  104910|     5|
|  116725|     6|
|   88242|     7|
|   56598|     8|
|   20207|     9|
|      57|    10|
+--------+------+

In [58]:
spark.sql('SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization GROUP BY server_id').show()

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      148|                0.54|                0.94|         0.11451712518744131|
|      137|                0.54|                0.94|         0.11526245077758812|
|      133|                0.55|                0.95|         0.11534006553263144|
|      108|                0.55|                0.95|         0.11563100171171926|
|      101|                 0.6|                 1.0|         0.11651726263197697|
|      115|                0.44|                0.84|         0.11569664615015006|
|      126|                0.48|                0.88|         0.11542612970702051|
|      103|                0.56|                0.96|         0.11617507884178278|
|      128|                0.38|                0.78|          0.1153254132405078|
|      122|                0.43|                0.83|         0.11563104329209034|
|      111|                0.36|                0.76|         0.11530221569464506|
|      140|                0.47|                0.87|         0.11539940805020545|
|      132|                0.33|                0.73|          0.1145442656350766|
|      146|                 0.5|                 0.9|         0.11488129439634706|
|      142|                 0.5|                 0.9|         0.11593003726970044|
|      139|                0.51|                0.91|         0.11519660023052102|
|      120|                0.35|                0.75|         0.11586355920838642|
|      117|                0.38|                0.78|         0.11534593941519553|
|      112|                0.52|                0.92|         0.11528867845082576|
|      127|                0.47|                0.87|         0.11577746913037888|
+---------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [59]:
sql_window = spark.sql('SELECT event_datetime , server_id, cpu_utilization, avg(cpu_utilization) OVER (PARTITION BY  server_id) avg_server_util FROM utilization')

In [60]:
sql_window.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:07:41|      148|           0.85|0.7393840000000045|
|03/05/2019 08:12:41|      148|           0.94|0.7393840000000045|
|03/05/2019 08:17:41|      148|           0.89|0.7393840000000045|
|03/05/2019 08:22:41|      148|           0.74|0.7393840000000045|
|03/05/2019 08:27:41|      148|           0.63|0.7393840000000045|
|03/05/2019 08:32:41|      148|           0.89|0.7393840000000045|
|03/05/2019 08:37:41|      148|           0.77|0.7393840000000045|
|03/05/2019 08:42:41|      148|           0.59|0.7393840000000045|
|03/05/2019 08:47:41|      148|           0.77|0.7393840000000045|
|03/05/2019 08:52:41|      148|           0.71|0.7393840000000045|
|03/05/2019 08:57:41|      148|           0.85|0.7393840000000045|
|03/05/2019 09:02:41|      148|           0.73|0.7393840000000045|
|03/05/2019 09:07:41|      148|           0.89|0.7393840000000045|
|03/05/2019 09:12:41|      148|           0.56|0.7393840000000045|
|03/05/2019 09:17:41|      148|           0.59|0.7393840000000045|
|03/05/2019 09:22:41|      148|           0.78|0.7393840000000045|
|03/05/2019 09:27:41|      148|           0.72|0.7393840000000045|
|03/05/2019 09:32:41|      148|            0.8|0.7393840000000045|
|03/05/2019 09:37:41|      148|           0.55|0.7393840000000045|
|03/05/2019 09:42:41|      148|           0.91|0.7393840000000045|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [61]:
sql_window2 = spark.sql(
    'SELECT event_datetime , server_id, cpu_utilization, avg(cpu_utilization) OVER (PARTITION BY  server_id) avg_server_util, cpu_utilization - avg(cpu_utilization) OVER (PARTITION BY  server_id) delta_server_util FROM utilization'
)
sql_window2.show()

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|   delta_server_util|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:07:41|      148|           0.85|0.7393840000000045|  0.1106159999999955|
|03/05/2019 08:12:41|      148|           0.94|0.7393840000000045| 0.20061599999999546|
|03/05/2019 08:17:41|      148|           0.89|0.7393840000000045| 0.15061599999999553|
|03/05/2019 08:22:41|      148|           0.74|0.7393840000000045| 6.15999999995509E-4|
|03/05/2019 08:27:41|      148|           0.63|0.7393840000000045|-0.10938400000000448|
|03/05/2019 08:32:41|      148|           0.89|0.7393840000000045| 0.15061599999999553|
|03/05/2019 08:37:41|      148|           0.77|0.7393840000000045|0.030615999999995536|
|03/05/2019 08:42:41|      148|           0.59|0.7393840000000045| -0.1493840000000045|
|03/05/2019 08:47:41|      148|           0.77|0.7393840000000045|0.030615999999995536|
|03/05/2019 08:52:41|      148|           0.71|0.7393840000000045|-0.02938400000000...|
|03/05/2019 08:57:41|      148|           0.85|0.7393840000000045|  0.1106159999999955|
|03/05/2019 09:02:41|      148|           0.73|0.7393840000000045| -0.0093840000000045|
|03/05/2019 09:07:41|      148|           0.89|0.7393840000000045| 0.15061599999999553|
|03/05/2019 09:12:41|      148|           0.56|0.7393840000000045|-0.17938400000000443|
|03/05/2019 09:17:41|      148|           0.59|0.7393840000000045| -0.1493840000000045|
|03/05/2019 09:22:41|      148|           0.78|0.7393840000000045|0.040615999999995545|
|03/05/2019 09:27:41|      148|           0.72|0.7393840000000045|-0.01938400000000451|
|03/05/2019 09:32:41|      148|            0.8|0.7393840000000045| 0.06061599999999556|
|03/05/2019 09:37:41|      148|           0.55|0.7393840000000045|-0.18938400000000444|
|03/05/2019 09:42:41|      148|           0.91|0.7393840000000045| 0.17061599999999555|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 20 rows

In [67]:
sql_window3 = spark.sql('SELECT event_datetime , server_id , cpu_utilization, avg(cpu_utilization) OVER (PARTITION BY server_id ORDER BY event_datetime ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING) avg_server_util FROM utilization')
sql_window3.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:07:41|      148|           0.85|             0.895|
|03/05/2019 08:12:41|      148|           0.94|0.8933333333333334|
|03/05/2019 08:17:41|      148|           0.89|0.8566666666666668|
|03/05/2019 08:22:41|      148|           0.74|0.7533333333333333|
|03/05/2019 08:27:41|      148|           0.63|0.7533333333333334|
|03/05/2019 08:32:41|      148|           0.89|0.7633333333333333|
|03/05/2019 08:37:41|      148|           0.77|              0.75|
|03/05/2019 08:42:41|      148|           0.59|              0.71|
|03/05/2019 08:47:41|      148|           0.77|              0.69|
|03/05/2019 08:52:41|      148|           0.71|0.7766666666666667|
|03/05/2019 08:57:41|      148|           0.85|0.7633333333333333|
|03/05/2019 09:02:41|      148|           0.73|0.8233333333333334|
|03/05/2019 09:07:41|      148|           0.89|0.7266666666666667|
|03/05/2019 09:12:41|      148|           0.56|              0.68|
|03/05/2019 09:17:41|      148|           0.59|0.6433333333333333|
|03/05/2019 09:22:41|      148|           0.78|0.6966666666666667|
|03/05/2019 09:27:41|      148|           0.72|0.7666666666666666|
|03/05/2019 09:32:41|      148|            0.8|0.6900000000000001|
|03/05/2019 09:37:41|      148|           0.55|0.7533333333333334|
|03/05/2019 09:42:41|      148|           0.91|0.6866666666666666|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

## Clustering

In [68]:
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [69]:
Spark = SparkSession.builder.getOrCreate()

In [70]:
file_path_no_header = data_path + '/utilization.csv'
df_util = spark.read.format("csv").option("header","false").option("inferSchema","true").load(file_path_no_header)

In [72]:
df_util = df_util.withColumnRenamed("_c0", "event_datetime").withColumnRenamed(
    "_c1",
    "server_id").withColumnRenamed("_c2", "cpu_utilization").withColumnRenamed(
        "_c3", "free_memory").withColumnRenamed('_c4', "session_count")

In [73]:
df_util.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [74]:
vectorAssembler = VectorAssembler(inputCols=['cpu_utilization','free_memory','session_count'],outputCol='features')

In [75]:
vcluster_df = vectorAssembler.transform(df_util)

In [76]:
vcluster_df.show()

+-------------------+---------+---------------+-----------+-------------+----------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|        features|
+-------------------+---------+---------------+-----------+-------------+----------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|[0.57,0.51,47.0]|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|[0.47,0.62,43.0]|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|[0.56,0.57,62.0]|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|[0.57,0.56,50.0]|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|[0.35,0.46,43.0]|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|[0.41,0.58,48.0]|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|[0.57,0.35,58.0]|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58| [0.41,0.4,58.0]|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|[0.53,0.35,62.0]|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45| [0.51,0.6,45.0]|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|[0.32,0.37,47.0]|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|[0.62,0.59,60.0]|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|[0.66,0.72,57.0]|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|[0.54,0.54,44.0]|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47| [0.29,0.4,47.0]|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|[0.43,0.68,66.0]|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|[0.49,0.66,65.0]|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|[0.64,0.55,66.0]|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42| [0.42,0.6,42.0]|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|[0.55,0.59,63.0]|
+-------------------+---------+---------------+-----------+-------------+----------------+
only showing top 20 rows

In [77]:
kmeans = KMeans().setK(3)

In [78]:
kmeans = kmeans.setSeed(1)

In [79]:
kmodel = kmeans.fit(vcluster_df)

In [80]:
kmodel.clusterCenters()

[array([ 0.52047775,  0.47836303, 51.79927162]),
 array([ 0.71931575,  0.28104316, 88.23965784]),
 array([ 0.62881549,  0.37094643, 70.43030159])]

## Linear Regression

In [81]:
vectorAssembler  = VectorAssembler(inputCols=['cpu_utilization'],outputCol='features')

In [82]:
df_vutil = vectorAssembler.transform(df_util)

In [83]:
df_vutil.show()

+-------------------+---------+---------------+-----------+-------------+--------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|features|
+-------------------+---------+---------------+-----------+-------------+--------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|  [0.57]|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|  [0.47]|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|  [0.56]|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|  [0.57]|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|  [0.35]|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|  [0.41]|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|  [0.57]|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|  [0.41]|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|  [0.53]|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|  [0.51]|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|  [0.32]|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|  [0.62]|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|  [0.66]|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|  [0.54]|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|  [0.29]|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|  [0.43]|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|  [0.49]|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|  [0.64]|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|  [0.42]|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|  [0.55]|
+-------------------+---------+---------------+-----------+-------------+--------+
only showing top 20 rows

In [84]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol='features',labelCol='session_count')

In [86]:
lrModel = lr.fit(df_vutil)

In [87]:
lrModel.coefficients , lrModel.intercept

(DenseVector([47.024]), 40.41695103550495)

In [88]:
lrModel.summary.rootMeanSquaredError

12.837990225931527